@media (max-width: 620px) {
    .ma-container-about{
        display: inline-block;
    }       

    .ma-about-left, .ma-about-right{
        float: left;
    }    

    .ma-about-left, .ma-about-right{
        width: 100%;
    }
    
}
@media not all and (max-width: 620px) {

    .ma-container-about{
        display: inline-flex;
    }           

    .ma-about-left, .ma-about-right{
        float: none;
    }       

    .ma-about-left{
        width: 38%;
    }
    
    .ma-about-right{
        width: 58%;
    }    

}

.ma-container-about{
    width: 100%;
    background-color: #212121;
}

.ma-about-left, .ma-about-right{
    vertical-align: middle;
}

.ma-about-img{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.ma-container-about img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.ma-about-right h2{
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    margin-top: 20px;
}

.ma-about-right p{
    text-align: center;
    color: #ffffff;
    padding: 10px;
}