@media (max-width: 925px) {
    .ma-div-header {
        background-color: #212121;
        position: relative;
    }

    .ma-menu-min-icon{
        display: block;
        margin: 25px;
    }

    .ma-menu-max{
        display: none;
    }

    .ma-menu-min-icon a {
        font-size: 16px;
        padding: 8px;
        color: #ffffff;
    }    

    .ma-logo img{
        width: 10rem;
    }    

}

@media not all and (max-width: 925px) {

    .ma-div-header {
        position: absolute;
    }
    
    .ma-menu-min-icon{
        display: none;
    }   
    
    .ma-menu-max{
        display: block;
    }    

    .ma-logo img{
        width: 100%;
    }        

}

.ma-div-header {
    width: auto;
    right: 0;
    left: 0;
    z-index: 9;
}

.ma-div-header-logo, .ma-div-header-menu {
    display: inline-block;
}

.ma-div-header-logo{
    width: 25%;
    vertical-align: bottom;
}

.ma-logo{
    margin: 25px;
}

.ma-div-header-menu{
    width: 65%;
    text-align: right;
}

.ma-div-header-logo h1{
    color: #ffffff;
    font-weight: 700;
}

.ma-div-header ul {
    margin: 25px;
}

.ma-div-header ul, .ma-div-header li{
    display: inline-block;
}

.ma-div-header ul li{
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

.ma-div-header ul li a{
    text-decoration: none;
    color: #ffffff;
}
